body {
    margin: 0;
    background: #86adfc;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background: #6699ff
}

header::after {
    content: '';
    display: table;
    clear: both;
}

#truck-gif {
    width: 120px;
    height: auto;
    float: left;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding-top: 40px;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 10px;
    position: relative;
}

nav ul li a {
    color: #000;
    text-decoration: none;
}

nav a:hover {
    color: #66FF99
}

nav a:before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #66FF99;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}