@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ribbon-slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.sliding-ribbon-item-container {
    display: inline-block;
    animation: 50s ribbon-slide infinite linear;
}